.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: rgb(156, 123, 123);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: rgb(34, 34, 102);
}

.mini-grid {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  width: 80px;
  background-color: rgb(156, 123, 123);;
  margin-left: 50px;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
